<section>

  <div>
    <h2>Username: <%= @user.name %></h2>
    <p>Number of posts: <%= @user.posts_counter %></p>
  </div>
  
  <div>
    <h3>Bio</h3>
    <p><%= @user.bio %></p>
  </div>
  
  <% @user.posts.each do |post| %>
    <ul>
      <li><%= link_to post.title, user_post_path(@user, post) %></li>
      <li><%= post.text %></li>
      <li>Comments: <%= post.comments_counter %></li>
      <li>Likes: <%= post.likes_counter %></li>
    </ul>
  <% end %>

  <button>
  <%= link_to 'See all posts', user_posts_path(@user) %>
  </button>

</section>