<%= form_with model: @post do |form| %>
<div class="edit-card card-post-container">
  <div class='locator-field'>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% post.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class='locator-field'>
    <%= form.label :Text %><br>
    <%= form.text_area :text %><br>
    <% post.errors.full_messages_for(:text).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class='custom-btn'>
    <%= form.submit "Submit Post" %>
  </div>
</div>
<% end %>